
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
}
h1 {
    color: #2c3e50;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
h2 {
    color: #3498db;
    margin-top: 30px;
}
h3 {
    color: #2980b9;
    margin-top: 20px;
}
img {
    max-width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0;
}
pre {
    background-color: #f8f8f8;
    border-radius: 3px;
    padding: 10px;
}
.wy-menu-vertical li.on a, .wy-menu-vertical li.current > a {
    background: #e3e3e3;
    border-top: 1px solid #c9c9c9;
    border-bottom: 1px solid #c9c9c9;
}
